*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.nav-item a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin-left:15px ;
  transition: all 0.4s;
}
.nav-item a:hover{
  color:rgb(20,219,20) ;
}
.navbar-brand{
  height: 50px;
  width: 100px;
}
.search{
  height: 45px;
  outline: none;
  border: 2px solid rgb(20,219,20);
  background-color: transparent;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
}
.btn1{
  height: 45px;
  outline: none;
  border: none;
  background-color: rgb(20,219,20);
  color: white;
  border-radius: 0px 20px 20px 0px;
  transition:all 0.4s ;
}
.btn1:hover{
  background-color: rgb(20,219,20);
}
.main{
  background:no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  
}

.background-image{
  background-image: url("../public/images/m1.jpg");
}
.man h1{
  font-size: 5rem;

}
.man p:nth-child(1){
  font-size: 18px;
  font-weight: 500;
}
.man p:nth-child(2){
  font-size: 18px;
  color: gray;
}
.mbtn1{
  height: 50px;
  width: 25%;
  border: none;
  color: white;
  background: rgb(20,219,20);
  border-radius: 50px;
  transition: all 0.4s;
}
.mbtn1:hover{
  background-color: rgb(13,172,13);
}
.mbtn2{
  height: 50px;
  width: 25%;
  outline: none;
  background-color: transparent;
  color: rgb(20,219,20);
  border: 1px solid rgb(20,219,20);
  border-radius: 50px;
  transition: all 0.4s;
}
.mbtn2:hover{
  background-color: rgb(13,172,13);
  border: none;

}
.line{
  height: 8px;
  width: 200px;
  background: rgb(20,219,20);
  display: inline-block;
}

.about{
  background-image: url("../public/images/abut.jpg"); 
  
}
.about h1{
  font-size: 3rem;
  font-weight: bold;

}
.about p:nth-child(1){
  font-size: 18px;
  font-weight: 500;
}
.about p:nth-child(2){
  font-size: 18px;
  color: gray;
}
.welcome{
  background: rgb(20,219,20);
}
.welcome h1{
  font-size: 3rem;
  font-weight: bold;
}
.welcome {
  border: none;
  border-radius: 0;
  cursor: pointer;
  

}
.wlcrd{
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 200px;
  height: 100px;
  
}

.alwz{
  padding: 10px 0px ;
  font-weight: lighter;
}

